* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, cadetblue, white);
}

form {
    margin-left: 30%;
    width: 40%;
    
}

input {
    margin: 10px;
}

input[type = "checkbox"] {
    margin: 9px;
}

input[type = "checkbox"]:checked+label {
    color: chocolate;
}

input:focus {
    outline: chocolate solid 3px;
}

input[type = "image"] {
    width: 50px;
    margin-left: 40%;
}

div {
    height: 500px;
}

label:hover {
    color: chocolate;
}
