body {
    background-color: darkgrey;
}

header {
    display: flex;
    width: 85%;
    height: 130px;
    background-color: coral;
    margin: auto;
    align-content: space-between;
    border-radius: 10px;
    
}

header p {
    margin: auto;
    color: white;
    text-shadow: darkgrey 2px 2px;
    font-size: 35pt;
}

main {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

article {
    flex-basis: 75%;
    margin-top: 10px;
    margin-right: 5px;
    flex-direction: column;
    background-color: coral;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

aside {
    flex-direction: column;
    background-color: coral;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px;
    flex-basis: 25%;
    flex-grow: 1;
}
aside div img {
    width: 95%;
}