body {
    background-image: url(../img/fondoRimas.jpg);
}
h1 {
    font-size: 6em;
    text-align: center;
    text-shadow: 4px 4px gold;
}
h2 {
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px gold;
   
}
.fotoBecquer {
    text-align: center;
}
@font-face {
    font-family: 'fuentePoema';
    src: url(../fuentes/WhiteDream.otf);
}
pre {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px gold;
    letter-spacing: 3px;
    font-family: 'fuentePoema', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}