nav {
    margin-left: 10%;
    background-color: darkgrey;
    width: 800px;
    height: 100px;
}

div#principal {
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 90%;
    height: 70%;
    justify-content: stretch;

}

div {
    height: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.856);
    
}
