nav {
    margin-left: 10%;
    background-color: darkgrey;
    width: 800px;
    height: 100px;
}

div#principal {
    display: flex;
    margin:  auto;
    border-radius: 50px;
    width: 90%;
    height: 70%;
    justify-content: space-between;
    background-color: rgb(225, 225, 225);
    

}

div {
    height: 80%;
    margin: auto;
    background-color: rgb(225, 225, 225);
    border-right: 1px black solid;
    padding-left: 10px;
    padding-right: 15px;
    
}

div#bordeIzq {
    border-left: 1px black solid;
    border-right: none;
}
