* {
    box-sizing: border-box;
}

ul {
    display: flex;
}

ul > li{
    list-style-type: none;
    background-color: rgb(80, 80, 80);
    height: 50px;
    padding: 12px;
    color: white;
}

ul > li.home:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}

ul > li.about:hover {
    height: 60px;
    position: relative;
    padding: 12px;
    padding-top: 17px;
    top: -5px;
    background-color: darkred;
}

ul > li.services:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}

ul > li.products:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}

ul > li.sitemap:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}

ul > li.help:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}

ul > li.contactus:hover {
    height: 60px;
    padding: 12px;
    padding-top: 17px;
    position: relative;
    top: -5px;
    background-color: darkred;
}