* {
    box-sizing: border-box;
}

@keyframes animaReloj {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.reloj {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px solid black;
    position: relative;
    background-color: grey;
}

.reloj > div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


.cajaHoras {
    width: 60%;
    height: 60%;
}

.cajaHoras:hover {
    animation: run 43200s infinite;
}

.horas {
    width: 10px;
    height: 50%;
    margin: 0 auto;
    background-color: black;
}


.cajaMinutos {
    height: 80%;
    width: 80%;
}

.cajaMinutos:hover {
    animation: animaReloj 3600s infinite;
}

.minutos {
    height: 50%;
    width: 6px;
    background-color: black;
    margin: 0 auto;
}


.cajaSegundos {
    width: 95%;
    height: 95%;
}

.cajaSegundos:hover {
    animation: animaReloj 60s infinite;

}

.segundos {
    width: 3px;
    height: 50%;
    background-color: red;
    margin: 0 auto;
}


