* {
    box-sizing: border-box;
}

nav {
    width: 49px;
}


ul {
    display: flex;
    flex-direction: column;
    
}


ul > li {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;    
}

nav li.inicio {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    
}

nav li.inicio:hover {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 50px 0;    
}

nav li.nuevo {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 0 200px;    
}

nav li.nuevo:hover {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 50px 200px;    
}

nav li.editar {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 0 150px;    
}

nav li.editar:hover {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 50px 150px;    
}

nav li.visualizar {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 0 100px;
}

nav li.visualizar:hover {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 50px 100px;    
}

nav li.imagen {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 0 50px;    
}

nav li.imagen:hover {
    width: 49px;
    height: 49px;
    background-image: url(../img/columnaEjer4.png);
    background-position: 50px 50px;    
}



