* {
    box-sizing: border-box;
}

nav {
    display: flex;
    margin-left: 10%;
    background-color: darkgrey;
    width: 800px;
    height: 100px;
    align-items: center;
}

div#principal {
    display: flex;
    margin:  auto;
    border-radius: 50px;
    width: 90%;
    height: 70%;
    justify-content: space-between;
    background-color: rgb(225, 225, 225);   

}

div#principal>div {
    height: 80%;
    margin: auto;
    background-color: rgb(225, 225, 225);
    border-right: 1px black solid;
    padding: 15px;
    
    
}

div#principal>#bordeIzq {
    border-left: none;
    border-right: none;
}

div#principal>div:hover {
    background-color: black;
    color: white;
}
