* {
    box-sizing: border-box;
}

body {
    background-image: url(../media/fondoBetis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    border-radius: 10px;
    text-align: center;
    background-color: white;
    flex-basis: 200px;
    margin: 15px;
}

main div img {
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

@font-face {
    font-family: futbol;
    src: url(../fonts/soccer.otf);
}

main div p {
    color: green;
    font-size: 14pt;
    font-family: 'futbol';
}



